<p id="notice"><%= notice %></p>

<h3><%= @post.title %></h3>

<p>
    by <%= link_to @post.user.name, @post.user %>
    <%= image_tag @post.user.avatar.url(:micro) %>
</p>

<% if @post.photo.present? %>
    <p><%= image_tag @post.photo.url(:large) %></p>
<% end %>

<p><%= @post.body %></p>

<% if @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'All posts', posts_path %>
